//
// Team Styles //
//
.team-wrapper {
	.team-box {
		text-align: center;
		.team-img {
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			img {
				width: 100%;
				@include transition(transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1));
			}
		}
		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 5px;
		}
		span {
			color: $color-primary-lighter;
		}
	}
	.team-box {
		.team-img {
			div {
				position: absolute;
				bottom: 0;
				left: 0;
				@include transform(translateY(100%));
				background: $bg-dark;
				width: 100%;
				@include transition(transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));
				ul {
					margin: 0 -7px;
					padding: 15px 20px;
					li {
						display: inline-block;
						margin: 0 7px;
						a {
							color: $color-white;
							@include transition(linear 0.1s);
							&:hover {
								color: $color-white-07;
							}
						}
					}
				}
			}
			&:hover {
				img { @include transform(translateY(-20px)); }
				div { @include transform(translateY(0)); }
			}
		}
	}
	&.team-box-hover-2, .team-box-hover-2 {
		.team-img {
			div {
				position: absolute;
				top: 0;
				left: 0;
				@include transform(translateY(0));
				opacity: 0;
				background: $color-black-04;
				width: 100%;
				height: 100%;
				text-align: center;
				@include transition(ease-out 0.12s);
				ul {
					list-style-type: none;
					position: absolute;
					top: 50%;
					right: 0;
					left: 0;
					@include transform(translateY(-50%) scale(0.96));
					margin: 0 -8px;
					padding: 0 30px;
					@include transition(ease-out 0.12s);
					li {
						display: inline-block;
						margin: 0 8px;
						a {
							color: $color-white;
							@include transition(linear 0.1s);
							&:hover {
								color: $color-white-07;
							}
						}
					}
				}
			}
			&:hover {
				img {
					@include transform(scale(1.04) translateY(0));
					@include filter(blur(1.5px));
				}
				div {
					opacity: 1;
					ul {
						@include transform(translateY(-50%) scale(1));
					}
				}
			}
		}
	}
	&.team-box-hover-3, .team-box-hover-3 {
		.team-img {
			div {
				position: absolute;
				top: auto;
				bottom: 16px;
				right: 16px;
				left: 16px;
				@include transform(translateY(5px));
				opacity: 0;
				visibility: hidden;
				background: $color-white;
				width: auto;
				@include transition(ease-out 0.12s);
				ul {
					padding: 15px 20px;
					li {
						a {
							&:not([class*=' button'], [class^='button']) {
								color: $color-primary;
								&:hover, &:focus { color: $color-dark; }
							}
						}
					}
				}
			}
			&:hover {
				img {
					@include transform(translateY(0) scale(1.04));
				}
				div {
					@include transform(translateY(0));
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.text-left {
	.team-box { text-align: left; }
}
.text-right {
	.team-box { text-align: right; }
}